<ion-content class="ion-padding">
  <app-header title="My Tasks"></app-header>

  @if(tasks && tasks.length > 0) {
    <ion-list>
      @for (task of tasks; track $index) {
        <ion-item-sliding>
          <ion-item lines="full">
            <app-card class="task-card">
              <div class="task-header">
                <h2>{{ task.title }}</h2>
              </div>
              <p class="task-description">{{ task.description }}</p>
              <div class="task-footer">
                <ion-text color="medium">
                  <small>Created at: {{ task.creationDate }}</small>
                </ion-text>
              </div>
            </app-card>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="deleteTasks(task.id)">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      } 
    </ion-list>
  } @else if (!tasks || tasks.length === 0) {
    <div class="empty-tasks-content">
      <img src="https://cdn-icons-png.flaticon.com/512/5058/5058446.png" alt="Empty tasks" class="empty-tasks-img">
      <h2>No tasks were found</h2>
    </div>
  } 
</ion-content>
