<ion-content [fullscreen]="true">
  <app-card title="Registro" content="Por favor, completa el formulario para registrarte.">
    <form [formGroup]="form" (ngSubmit)="doRegister()">
      <ion-row>
        <ion-col>
          <app-input [control]="name" label="Nombre:" placeholder="Tu nombre"></app-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <app-input [control]="lastName" label="Apellido:" placeholder="Tu apellido"></app-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <app-input [control]="email" label="Email:" type="email" placeholder="jane@doe.com"></app-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <app-input [control]="password" label="Contraseña:" type="password" placeholder="**********"></app-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <app-input [control]="age" label="Edad:" type="number" placeholder="Tu edad"></app-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <app-input [control]="phoneNumber" label="Número de teléfono:" placeholder="Tu número de teléfono"></app-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <app-button [disabled]="form.invalid" label="Registrar" type="submit"></app-button>
        </ion-col>
      </ion-row>
    </form>
  </app-card>
</ion-content>
