<!-- <ion-content [fullscreen]="true">
  <h5>Register</h5>
  <form [formGroup]="form" (ngSubmit)="doRegister()">
    <ion-row>
      <ion-col>
        <app-input [control]="email" label="Email" type="email" placeholder="jane@doe.com"></app-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <app-input [control]="password" label="Password" type="password" placeholder="**********"></app-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button [disabled]="form.invalid" type="submit">Register</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
 -->

 <h1>skfhsdkjfjsd</h1>
