<ion-content [fullscreen]="true">
  <app-header title="Pica Hielo"></app-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <app-card  title="TASK MANAGMENT" subtitle="Stay organized and get things done." content="is a user-friendly app that helps you organize and manage your tasks efficiently. You can easily add, prioritize, and track tasks with due dates. With features like task completion and customizable settings, TaskMaster keeps you productive and on top of your to-do list">
          <img src="assets/icon/task.jpg" >
        </app-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col><app-button></app-button></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
